:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish:#FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --border-radius-small: 23px;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--font-open-sans);
}
a{
    text-decoration: none;
}
.container{
    width: 1352px;
    height: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}
.header__logo{
    font-family: var(--font-raleway);
    font-size: 32px;
    color: var(--color-primary);
}
.nav__link{
    font-size: 11px;
    font-weight: bold;
    padding: 28px 27px;
    color: var(--color-grey);
    text-transform: uppercase;
}
.nav__link:hover{
    cursor: pointer;
    color: var(--color-black);
}
.opening{
    text-align: center;
}
.opening__container{

}
.opening__container h1{
    margin-top: 130px;
    margin-bottom: 20px;
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
}
.opening__container p{
    margin-bottom: 60px;

}
.opening__container a{
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--color-white);
    padding: 22px 153px 23px;
    background-color: var(--color-primary);
    border-radius: 40px;
}
.opening__image{
    width: 100%;
    height: auto;
}
.statistics{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.statistics .container h2{
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
    margin-bottom: 101px;

}
.statistics__container{
    display: flex;
    justify-content: space-between;
}
.statistics__single{
    font-family: var(--font-raleway);
}
.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__description{
    margin-bottom: 122px;
}
