/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  width: 100%;
  border-radius: 6px;
  font-size: 2em;
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
}

.container {
  width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #08A6E4;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .nav__element {
  padding: 0 26px;
}
.header .nav__element:last-child {
  padding-right: 0;
}
.header .nav__link {
  color: #A5A5A5;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}
.header .nav__link:hover {
  color: #000000;
  border-color: #08A6E4;
}
.header__nav {
  display: flex;
}
@media (max-width: 792px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    display: none;
  }
  .header__nav .nav__element {
    padding: 0;
  }
  .header__nav .nav__link {
    display: block;
    padding: 14px 20px;
  }
}
.header .menu__btn {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}
@media (max-width: 792px) {
  .header .menu__btn:checked ~ .header__nav {
    display: flex;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(2) {
    opacity: 0;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
  }
}
.header .menu__toggle {
  display: none;
}
.header .menu__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.header .menu__toggle span:last-child {
  margin-bottom: 0;
}
@media (max-width: 792px) {
  .header .menu__toggle {
    display: block;
  }
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opening__content {
  margin-top: 130px;
  text-align: center;
}
@media (max-width: 792px) {
  .opening__content {
    margin-top: 100px;
  }
}
.opening__header {
  font-family: "Raleway", sans-serif;
  font-size: 3.0625rem;
}
.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}
@media (max-width: 792px) {
  .opening__heading {
    padding: 0 70px;
  }
}
.opening__image {
  width: 100%;
  height: auto;
}
@media (max-width: 792px) {
  .opening__image {
    width: 220%;
    transform: translateX(-28%);
  }
}
@media (max-width: 792px) {
  .opening .btn {
    margin: 0 15px;
    padding: 16px 0;
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */
